html {
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
}

canvas {
    z-index: -1;
    margin: 4px;
    border-radius: 2px;
    position: absolute;
    left: 1em;
    top: 0px;
}

#title {
    z-index: 1;
    font-family: 'Russo One', sans-serif;
    color: blanchedalmond;
    font-size: 50px;
    padding: 0em;
    text-align: center;
    animation: wiggle .8s linear 10s infinite alternate;
}



@keyframes wiggle {
    from {
        padding-top: 0em;
    }

    to {
        padding-top: .3em;
    }
}

/*  make title wiggle or dance a little







 make footer placed in a normal postition



 */
#foot {
    background-color: grey;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 20em;
    z-index: -1;
}