html {
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
}

canvas {
    /* z-index: -1; */
    margin: 4px;
    border-radius: 2px;
    position: relative;
    /* left: 1em;
    top: 0px; */
}

#title {

    align-content: center;
    font-family: 'Russo One', sans-serif;
    color: blanchedalmond;
    font-size: 1.2em;
    padding-top: .5em;
    padding-left: 1em;
    text-align: center;
    animation: wiggle .8s linear 10s infinite alternate;
    letter-spacing: 5px;
}



@keyframes wiggle {
    from {
        padding-left: 2em;
        letter-spacing: 5px;
    }

    to {
        padding-left: .02em;
        letter-spacing: 10px;
    }
}

/*  make title wiggle or dance a little







 make footer placed in a normal postition



 */
#foot {
    background-color: grey;
    text-align: center;
    position: fixed;
    bottom: 0px;
    right: 20px;
    z-index: -1;
}

#button-container {
    margin-left: 50px;
    margin-right: 50px;
}